<div *ngIf="isOpen$ | async" @container class="h-screen grid grid-rows-1 grid-cols-1">
    <!-- shade -->
    <div @fade class="row-start-1 row-span-1 col-start-1 col-span-1 bg-black bg-opacity-50" (click)="close()"></div>
    
    <!-- patch the bottom part that gets exposed when animting the bottomsheet -->
    <div @patch class="row-start-1 row-span-1 col-start-1 col-span-1 z-5 self-end h-10 bg-white"></div>
    
    <!-- bottomsheet -->
    <div @slideUp class="row-start-1 row-span-1 col-start-1 col-span-1 z-10 self-end p-5 bg-white rounded-t-xl">
        <p class="text-center text-3xl text-brand-accent font-cursive">{{ food?.name }}</p>

        <div style="min-height: 190px">
            <ion-img class="mt-5"  [src]="food?.image"></ion-img>
        </div>
        <p class="text-center text-xs text-brand-gray-light">{{ food?.caption }}</p>

        <p class="mt-5 font-sans text-sm text-brand-gray-medium">{{ food?.description }}</p>
    </div>
</div>